<head>
	<h1>This is the Model's index page.</h1>
</head>
	<style> 
        #UND { 
            text-decoration: none; 
        }
		div.big {
			line-height: 2.5;
		}
    </style>
<body>
	<div>
		<p hidden><%= motherboard = "/forums/motherboard" %> 
			<%= cpu = "/forums/cpu" %>
			<%= memory = "/forums/memory" %>
			<%= storage = "/forums/storage" %>
			<%= graphics_card = "/forums/graphics_card" %>
		</p>
	</div>
	<div class="big">
		<a id = "UND" href= <%=motherboard%>>Motherboard</a><br>
		<a id = "UND" href= <%=cpu%>>CPU</a><br>
		<a id = "UND" href= <%=memory%>>Memory</a><br>
		<a id = "UND" href= <%=storage%>>Storage</a><br>
		<a id = "UND" href= <%=graphics_card%>>Graphics Card</a>
  	</div>
</body>

